</div>
<!-- container short -->

<div class="footer">
    <div class="footer--top">
        <div class="container container--short">
            <div class="row">
                <div class="col--7 col--7--md">
                    <a href="http://www.geekkeef.com">
                        <img class="footer__logo" src="/images/geekkeef-logo-001.png">
                    </a>
                </div>
                <div class="col--5 col--5--md">

                    <!-- contact -->
                    <form class="form--contact">
                        <div class="form--group">
                            <input type="text" class="form--control" id="name" placeholder="Name">
                        </div>
                        <div class="form--group">
                            <input type="email" class="form--control" id="email" placeholder="Email">
                        </div>
                        <div class="form--group">
                            <textarea class="form--control" rows="5" placeholder="Say something..."></textarea>
                        </div>
                        <button type="submit" class="btn btn--lg btn--orange open-modal">Contact Us</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="footer--bottom">
        <div class="container container--short">
            <div class="row">
                <div class="col--6 col--6--sm">
                    <p>© Copyright 2017, All Rights Reserved || designedBy:{{KTJunior}}</p>
                </div>
                <div class="col--6 col--6--sm">
                    <div class="social">
                        <a class="social__a  footer--social" href="https://www.facebook.com/geekkeef" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.twitter.com/geekkeef" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.instagram.com/geekkeef" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.reddit.com/user/geekkeef" target="_blank">
                            <i class="fa fa-reddit" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="http://www.github.com/geekkeef" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.snapchat.com/add/thegeekkeef" target="_blank">
                            <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- container wide -->

<div class="modal">
    <div class="logo modal__logo">
        <h1 class="logo__h1 logo__h1--modal">
            <span class="logo__span">
                <i class="fa fa-envelope" aria-hidden="true"></i> getIn: </span>
            Touch
        </h1>
        <div class="wrapper wrapper--narrow">
            <p class="modal__description">There's more site to come! Until then, connect with us in the social matrix.</p>
            <div class="social social--modal">
                <h1>
                    <a class="social__a" href="https://www.facebook.com/geekkeef" target="_blank">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="social__a" href="https://www.twitter.com/geekkeef" target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="social__a" href="https://www.instagram.com/geekkeef" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="social__a" href="https://www.reddit.com/user/geekkeef" target="_blank">
                        <i class="fa fa-reddit" aria-hidden="true"></i>
                    </a>
                    <a class="social__a" href="http://www.github.com/geekkeef" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a class="social__a" href="https://www.snapchat.com/add/thegeekkeef" target="_blank">
                        <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="modal__close">X</div>
</div>

<script type="text/javascript" src="../scripts/app.js"></script>
</body>

</html>