</div> <!-- container short -->

<div class="footer">
    <div class="footer--top">
        <div class="container container--short">
            <div class="row">
                <div class="col--7 col--7--md">
                    <a href="http://www.geekkeef.com">
                        <img class="footer__logo" src="/images/geekkeef-logo-001.png">
                    </a>
                </div>
                <div class="col--5 col--5--md">

                    <!-- contact -->
                    <form class="form--contact">
                        <div class="form--group">
                            <input type="text" class="form--control" id="name" placeholder="Name">
                        </div>
                        <div class="form--group">
                            <input type="email" class="form--control" id="email" placeholder="Email">
                        </div>
                        <div class="form--group">
                            <textarea class="form--control" rows="5" placeholder="Say something..."></textarea>
                        </div>
                        <button type="submit" class="btn btn--lg btn--orange">Contact Us</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="footer--bottom">
        <div class="container container--short">
            <div class="row">
                <div class="col--6 col--6--sm">
                    <p>© Copyright 2017, All Rights Reserved || designedBy:{{KTJunior}}</p>
                </div>
                <div class="col--6 col--6--sm">
                    <div class="social">
                        <!-- <a class="social__a  footer--social open-modal" href="#" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a> -->
                        <a class="social__a  footer--social" href="https://www.twitter.com/geekkeef" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.instagram.com/geekkeef" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.reddit.com/user/geekkeef" target="_blank">
                            <i class="fa fa-reddit" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="http://www.github.com/geekkeef" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        <a class="social__a  footer--social" href="https://www.snapchat.com/add/thegeekkeef" target="_blank">
                            <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div> <!-- container wide -->

<!-- modals -->
<div class="modal">
    <div class="modal__window">


        <ul class="modal__switcher">
            <li class="modal--link-one">
                <a href="#0">Login</a>
            </li>
            <li class="modal--link-two">
                <a href="#0">Sign Up</a>
            </li>
            <hr id="hr--highlight">
        </ul>

        <div id="modal__login" class="is-selected">

            <h1 class="logo__h1 logo__h1--modal">
                <span class="logo__span">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
            </h1>

            <form action="/login" method="POST">
                <div class="form--group">
                    <input type="text" class="form--control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form--group">
                    <input type="password" class="form--control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn--lg btn--pink">Login</button>
            </form>

        </div>

        <div id="modal__register">

            <h1 class="logo__h1 logo__h1--modal">
                <span class="logo__span">
                    <i class="fa fa-share" aria-hidden="true"></i> Register</span>
            </h1>

            <form action="/register" method="POST">
                <div class="form--group">
                    <input type="text" class="form--control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form--group">
                    <input type="password" class="form--control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn--lg btn--orange">Sign Up</button>
            </form>

        </div>
    </div>
    <a href="#" class="modal__close">X</a>
</div>

<!-- App Script -->
<script type="text/javascript" src="../../../../scripts/app.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>

</html>