<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, JavaScript, NodeJs, NPM, Gulp, Git, Express, MongoDB, Geek, Nerd, Tech, Technology, Code, Gaming, Retro, Music, Jumpman, NBA, Sexy, Beauty, Dope, Funny, Humor, Movies, Film, LOTR, Lord of the Rings, GOT, Game of Thrones, Patronus, Harry Potter, Comics, Marvel, DC, Eggo, Stranger Things, Walking Dead, Delorean, Force, Star Wars, Classics, Throwbacks, Art, Photography, Sony, Alpha, Panasonic, Lumix, Health, Fitness, Good Vibes, Love, Keep Going">
    <meta name="author" content="geekKeef, KJunior">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home:{{geekKeef}}</title>
    <link rel="stylesheet" type="text/css" href="../../../css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container container--wide">

        <div class="info">
            <div class="container container--short">
                <div class="row">
                    <div class="col--6 col--6--sm">
                        <div class="info__date">
                            <p id="dateDisplay"></p>
                        </div>
                    </div>
                    <div class="col--6 col--6--sm">
                        <div class="social">
                            <!-- <a class="social__a open-modal" href="#" target="_blank">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a> -->
                            <a class="social__a" href="https://www.twitter.com/geekkeef" target="_blank">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a class="social__a" href="https://www.instagram.com/geekkeef" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a class="social__a" href="https://www.reddit.com/user/geekkeef" target="_blank">
                                <i class="fa fa-reddit" aria-hidden="true"></i>
                            </a>
                            <a class="social__a" href="http://www.github.com/geekkeef" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a class="social__a" href="https://www.snapchat.com/add/thegeekkeef" target="_blank">
                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container--short">

            <div class="header">
                <div class="row">
                    <div class="col--4 col--4--md">
                        <div class="logo">
                            <h1 class="logo__h1">
                                <span class="logo__span">geek</span>Keef</h1>
                        </div>
                    </div>
                    <div class="col--8 col--8--md">
                        <div class="panel header--panel">
                            <div class="panel__body">
                                <h3>I'm a
                                    <span>geek</span> about mine...</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="nav nav--navbar">
                <div class="nav__menu-icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <a class="nav__logo" href="http://www.geekkeef.com">
                    <img class="nav__logo--img" alt="geekKeef-icon" src="/images/geekkeef-icon-001.png">
                </a>
                <div class="nav__menu-content">
                    <div class="nav__links--left">
                        <ul>
                            <li>
                                <a class="nav--active" href="/home">Home</a>
                            </li>
                            <li>
                                <a class="open-modal" href="#">About</a>
                            </li>
                            <li>
                                <a href="/gallery">Gallery</a>
                            </li>
                            <li>
                                <a class="open-modal" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav__links--right">
                        <ul>
                            <li>
                                <a class="open-modal" href="#">Sign Up</a>
                            </li>
                            <li>
                                <a class="nav--special open-modal" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>