/* Comment
 ================================================================ */

.comment {
    width: 80%;
    display: block;
    margin: 10px auto;
    background-color: $bgColorLight;
    border: 1px solid #ccc;
    border-radius: 5px;
    &__title {
        text-align: center;
    }
    &__title--h3 {
        padding-top: 35px;
        font-size: 1.4rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        color: $mainBlue;
        margin-bottom: 10px;
    }
    &__image {
        @mixin mediaSmallMax {}
    }
    &__text {
        padding-left: 15px;
        @mixin mediaSmallMax {
            text-align: center;
            padding: 0 20px 20px
        }
    }
    div.row:nth-of-type(2n+2) {
        background-color: #e2e2e2;
    }
    h4 {
        margin-top: 12px;
        color: $mainBlue;
    }
    p {
        font-size: 0.95rem;
        margin-top: 5px;
    }
    &__user-image {
        margin-top: 3px;
        display: block;
        margin: auto;
        @mixin mediaSmallMax {
            padding-top: 10px;
        }
    }
    &__button {
        text-align: center;
        &--sm {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}