/* Flash Messages 
 ================================================================ */

.flash {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 5;
    background-color: rgba($mainOrange, 0.3);
    text-align: center;
    &__title {
        font-size: 0.9rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        color: $bgColorDarker;
    }
}