/* Follow 
 ================================================================ */

.follow {
    &__title--bar {
        background-color: $bgColorDark;
        border-radius: 3px;
        padding: 14px 0 14px 20px;
    }
    &__title {
        color: $mainPink;
        font-size: 0.9rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        a {
            color: $mainPink;
            &:hover {
                color: #fff;
            }
        }
    }
    &__a {
        color: #fff;
        padding-left: 25px;
        font-size: 0.85rem;
        font-weight: 400;
        @mixin mediaSmallMax {
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
    &__a--snapchat {
        color: $bgColorDarker;
    }
    &--panel {
        width: 100%;
        margin: 0 auto;
        border: none;
        height: 50px;
        padding-top: 15px;
    }
    &--panel--facebook {
        background-color: #3B5998;
    }
    &--panel--google {
        background-color: #EA4235;
    }
    &--panel--twitter {
        background-color: #1DA1F2;
    }
    &--panel--instagram {
        background-color: #E3415C;
    }
    &--panel--reddit {
        background-color: #FF4500;
    }
    &--panel--tumblr {
        background-color: #01273A;
    }
    &--panel--snapchat {
        background-color: #FFFC00;
    }
    &--panel--github {
        background-color: #323131;
    }
    &--panel--steam {
        background-color: #171A21;
    }
    &--panel--flickr {
        background-color: #0063DB;
    }
    &--weather {
        border-bottom: 1px solid $mainBorder;
        > div {
            @mixin mediaMediumMax {
                height: 150px;
            }
        }
    }
    .weatherwidget-io {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 23px;
        margin-bottom: 21px;
    }
}