/* Info 
 ================================================================ */

.info {
    padding: 10px 0;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: $bgColorLight;
    margin-bottom: 35px;
    @mixin mediaSmallMax {
        text-align: center;
    }
    &__user {
        float: left;
        font-size: 0.8rem;
        font-weight: 700;
        padding-right: 20px;
        padding-top: 4px;
        p {
            @mixin mediaSmallMax {
                margin-left: 17px;
            }
        }
        p span {
            color: $mainPink;
            @mixin mediaSmallMax {
                font-size: 1.3rem;
            }
        }
        @mixin mediaSmallMax {
            font-size: 1rem;
            float: none;
            text-align: center;
        }
    }
}

#dateDisplay {
    padding-top: 4px;
    font-size: 0.8rem;
}