/* Modal 
 ================================================================ */

.modal {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
    &--visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        margin: 0 auto;
    }
    &--panel {
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
        max-width: 450px;
        margin: 12% auto 0;
        border-radius: 5px;
        .btn {
            margin-bottom: 30px;
        }
        form {
            text-align: center;
        }
        @mixin mediaSmallMax {
            margin-top: 50%;
        }
        @mixin mediaSmallMax {
            margin-top: 30%;
        }
    }
    &--social {
        background-color: rgba(255, 255, 255, 0.95);
    }
    &--login {
        background-color: rgba($mainBlue, 0.95);
    }
    &--reg {
        background-color: rgba($mainOrange, 0.95);
    }
    &__logo {
        margin-top: 12%;
        padding: 0 15px;
        @mixin mediaMediumMax {
            margin-top: 20%;
        }
        @mixin mediaSmallMax {
            margin-top: 30%;
        }
    }
    &__description {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 20px;
        @mixin mediaSmallMax {
            font-size: 1.2rem;
        }
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 2.2rem;
        transform: scaleX(1.5);
        transform-origin: 100% 0;
        cursor: pointer;
        z-index: 10;
        color: $mainPink;
        &:hover {
            color: $mainDarkPink;
        }
    }
}