/* Modal 
 ================================================================ */

.modal {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($mainBlue, 0.8);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s, visibility 0.3s;
    visibility: hidden;
    opacity: 0;
    &.is-visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    &--social {
        background: rgba($mainOrange, 0.8);
    }
    &__window {
        position: fixed;
        left: 50%;
        top: 75px;
        min-width: 550px;
        height: 450px;
        background-color: #fff;
        border: 1px solid #bbb;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, 0);
        z-index: 5;
    }
    &__shade {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.7);
        &--social {
            background-color: rgba($mainOrange, 0.7);
        }
        &--reg {
            background-color: rgba($mainOrange, 0.7);
        }
        &--login {
            background-color: rgba($mainBlue, 0.7);
        }
    }
    &__switcher {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        li {
            width: 50%;
            float: left;
            text-align: center;
            display: list-item;
            &:first-child a {
                border-radius: .25em 0 0 0;
            }
            &:last-child a {
                border-radius: 0 .25em 0 0;
            }
        }
        a {
            display: inline-block;
            width: 100%;
            padding: .75rem 0;
            margin: 0;
            text-decoration: none;
            color: $navLinks;
            padding: 25px 0;
            margin-bottom: 25px;
            background-color: $bgColorDarker;
        }
        #hr--highlight {
            height: 4.6rem;
            width: 50%;
            margin: 0;
            background: $mainPink;
            border: none;
            transition: .3s ease-in-out;
        }
        #hr--highlight.register {
            margin-left: 50%;
            background: $mainOrange;
        }
    }
    form {
        text-align: center;
        padding: 0 15px;
        input {
            height: 42px;
            display: block;
            margin: 25px auto;
        }
    }
    &__description {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 20px;
        @mixin mediaSmallMax {
            font-size: 1.2rem;
        }
    }
    button {
        margin-top: 10px;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.1rem;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        z-index: 10;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 3px;
        font-size: 1rem;
        background-color: $bgColorDark;
        color: $mainPink;
        &:hover {
            background-color: $bgColorDarker;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        }
    }
    #modal__login,
    #modal__register {
        display: none;
        text-align: center;
    }
    #modal__login.is-selected,
    #modal__register.is-selected {
        display: block;
    }
}