/* Photo 
 ================================================================ */

.photo {
    padding: 10px 0;
    &__title {
        text-align: center;
    }
    &__title--h3 {
        padding-top: 25px;
        font-size: 1.4rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        color: $mainPink;
    }
    i.icon-pic {
        font-size: 1.4rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        color: $mainPink;
        padding-top: 5px;
        padding-bottom: 25px;
    }
    &__image {
        img {
            width: 100%;
            border-top: 3px solid $mainPink;
            border-bottom: 3px solid $bgColorDarker;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            z-index: 5;
        }
    }
    p {
        font-size: 0.8rem;
        color: $mainGrey;
        line-height: 1.4rem;
    }
    &__p-top {
        @mixin mediaSmallMax {
            margin-bottom: 15px;
        }
    }
    &__desc {
        font-size: 1.2rem;
        color: $bgColorDark;
        line-height: 1.4rem;
        font-weight: 200;
        margin-top: 20px;
        @mixin mediaSmallMax {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
    &__user {
        margin-top: 10px;
        padding: 11px 6px 8px 2px;
        background-color: $bgColorLight;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba($mainLightGrey, 0.2);
        p.user-name {
            font-size: .7rem;
            span {
                font-weight: 700;
            }
            @mixin mediaSmallMax {
                font-size: 0.9rem;
            }
        }
        @mixin mediaSmallMax {
            padding: 10px 6px 8px 0;
        }
        i.icon-user {
            padding: none;
            font-size: 1.5rem;
            color: $mainLightGrey;
        }
        .col--2 {
            text-align: center;
            padding-top: 5.5px;
            @mixin mediaSmallMax {
                text-align: left;
                padding-left: 8px;
                &:first-of-type {
                    text-align: right;
                    padding-right: 8px;
                }
            }
        }
        .col--8,
        .col--10 {
            text-align: right;
            @mixin mediaSmallMax {
                text-align: center;
            }
        }
        @mixin mediaSmallMax {
            margin-top: 20px;
        }
        form {
            display: inline-block;
        }
        .action {
            color: #fff;
            font-size: .7rem;
            font-weight: 700;
            border-radius: 3px;
            border: none;
            display: inline-block;
            text-align: center;
            margin-bottom: 5px;
            width: 55px;
        }
        a {
            padding: 6px 0;
            width: 50px;
            margin-left: 8px;
            background-color: $mainOrange;
            &:hover {
                background-color: $mainDarkOrange;
            }
        }
        button.action {
            background-color: $mainPink;
            margin-left: 12px;
            width: 55px;
            padding: 6px 0;
            &:hover {
                background-color: $mainDarkPink;
            }
            @mixin mediaSmallMax {
                margin-left: 0;
            }
        }
    }
    &__title-bar {
        background-color: rgba(0, 0, 0, 0.5);
        height: 35px;
        width: 45%;
        max-width: 980px;
        padding-top: 1px;
        padding-right: 10px;
        color: $mainPink;
        text-align: right;
        font-weight: 200;
        letter-spacing: 0.3rem;
        border-radius: 0 4px 4px 0;
        margin-top: -65px;
        position: absolute;
        word-wrap: break-word;
        @mixin mediaMediumMax {
            width: 65%;
        }
        @mixin mediaSmallMax {
            width: 75%;
            height: auto;
        }
        i {
            font-size: 0.8rem;
            line-height: 1.4rem;
            color: #fff;
        }
        p {
            color: #fff;
            height: 25px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .08);
            display: inline-block;
            margin-bottom: 5px;
        }
    }
}