/* Welcome 
 ================================================================ */

.welcome {
    border-top: 3px solid $mainPink;
    border-bottom: 3px solid $bgColorDarker;
    margin-bottom: 25px;
    .row {
        overflow: hidden;
        text-overflow: clip;
    }
    [class*="col--"] {
        padding: 0;
    }
    .thumbnail {
        border-radius: 0;
        border: none;
    }
    &__title--bar {
        background-color: $mainBlue;
        border-radius: 3px;
        padding: 13px 0 13px 20px;
        margin-right: 4px;
        +hr {
            margin-bottom: 30px;
        }
    }
    &__title--h3 {
        font-size: 0.9rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
        color: #fff;
    }
    &__img {
        &--controller {
            background-image: url(/images/ugur-akdemir-238673.jpg);
            height: 476px;
            @mixin mediaSmallMax {
                height: 325px;
            }
        }
        &__md--trooper {
            background-image: url(/images/ciprian-boiciuc-193062.jpg);
            height: 238px;
            @mixin mediaSmallMax {
                height: 160px;
            }
        }
        &__md--pc {
            background-image: url(/images/nordwood-themes-387855.jpg);
            height: 238px;
            @mixin mediaSmallMax {
                height: 160px;
            }
        }
        &__md--arcade {
            background-image: url(/images/daniel-monteiro-416820.jpg);
            height: 238px;
            @mixin mediaSmallMax {
                height: 160px;
            }
        }
        &__md--booth {
            background-image: url(/images/joel-muniz-394897.jpg);
            height: 238px;
            @mixin mediaSmallMax {
                height: 160px;
            }
        }
    }
    &__desc {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 70px;
        position: relative;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
        text-align: left;
        padding: 12px 5px 5px 15px;
        color: #fff;
    }
    &__desc--lg h2 {
        font-size: 1.3rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    &__desc p {
        font-size: 0.8rem;
    }
    &__desc--lg p {
        font-size: 0.9rem;
    }
    &__desc h4 {
        font-size: 0.9rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}