<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, JavaScript, NodeJs, NPM, Gulp, Git, Express, MongoDB, Geek, Nerd, Tech, Technology, Code, Gaming, Retro, Music, Jumpman, NBA, Sexy, Beauty, Dope, Funny, Humor, Movies, Film, LOTR, Lord of the Rings, GOT, Game of Thrones, Patronus, Harry Potter, Comics, Marvel, DC, Eggo, Stranger Things, Walking Dead, Delorean, Force, Star Wars, Classics, Throwbacks, Art, Photography, Sony, Alpha, Panasonic, Lumix, Health, Fitness, Good Vibes, Love, Keep Going">
    <meta name="author" content="geekKeef, KJunior">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home:{{geekKeef}}</title>
    <link rel="stylesheet" type="text/css" href="../../../css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>

    <div class="nav__menu-content">
        <ul>
            <li><a class="modal--signin" href="#">Login</a></li>
        </ul>
        <ul>
            <li><a class="modal--register" href="#">Sign Up</a></li>
        </ul>
    </div>

    <div class="modal">
        <div class="modal__window">


            <ul class="modal__switcher">
                <li class="modal--link-one">
                    <a href="#0">Login</a>
                </li>
                <li class="modal--link-two">
                    <a href="#0">Sign Up</a>
                </li>
                <hr id="hr--highlight">
            </ul>

            <div id="modal__login" class="is-selected">

                <h1 class="logo__h1 logo__h1--modal">
                    <span class="logo__span">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
                </h1>

                <form>
                    <div class="form--group">
                        <input type="text" class="form--control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form--group">
                        <input type="password" class="form--control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn--lg btn--pink">Login</button>
                </form>

            </div>

            <div id="modal__register">

                <h1 class="logo__h1 logo__h1--modal">
                    <span class="logo__span">
                        <i class="fa fa-share" aria-hidden="true"></i> Register</span>
                </h1>

                <form action="/register" method="POST">
                    <div class="form--group">
                        <input type="text" class="form--control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form--group">
                        <input type="password" class="form--control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn--lg btn--orange">Sign Up</button>
                </form>

            </div>
        </div>
        <a href="#" class="modal__close">X</a>
    </div>

    <!-- <a href="#" class="modal__close">X</a>
        <div class="modal__shade"></div> -->


    <!-- App Script -->
    <script type="text/javascript" src="../../../scripts/app.js"></script>
    <script type="text/javascript" src="../../../scripts/modal.js"></script>
</body>

</html>